<ion-view title="Competiton">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar"></div>
        <form class="list">
              <button class="button button-assertive ion-android-add-circle" ng-click="postEvent()">
    Post Event
  </button>
    <button class="button button-assertive ion-android-add-circle" ng-click="viewEvent()">
    View Posted Event
  </button>
  <button class="button button-assertive ion-android-add-circle" ng-click="logout()">
    Log Out
  </button>
        </form>
        <div class="spacer" style="width: 283px; height: 23px;"></div>
    </ion-content>
</ion-view>